@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../fonts/Raleway-ExtraBold.ttf); 
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf); 
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf); 
}


@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf); 
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


.container {
    max-width: 1920px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    background-image: url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1024px;
    padding: 40px 150px 42px 150px;
    background-color: rgba(5, 5, 5, 0.7);
    opacity: 70%;
    background-blend-mode: color;
}


.main-logo a {
   display: flex;
   align-items: center;
   fill: #fff;
    color: #ffffff;
   font-family: Raleway-Regular;
   font-size: 34px;
   letter-spacing: -1.36px;
   margin: 0 0 0 230px;;
}

.main-logo a:hover{
    fill: #c7b299;
    color: #c7b299;
}

.main-logo span:hover{
    color: #c7b299;
}

.main-logo span {
     color: #ffffff;
     font-family: Raleway-Regular;
     font-size: 34px;
     letter-spacing: -1.36px;
     margin: 0 0 0 3px;
}

.main-nav{
    
}
.main-nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat-Light;
    font-size: 14px;
    margin: 0 10px 0 0;
}

.main-nav a:hover {
color: #c7b299;
}

.main-nav svg {
fill: #fff;
}
.main-nav svg:hover {
fill: #c7b299;
}

.main-nav ul {
    display: flex;
    margin-top: 13px;
    margin-right: 209px;
}

.main-nav li {
    list-style: none;
    color: #ffffff;
    margin-right: 20px;
    box-sizing: border-box;
}

.main-nav li:nth-child(9) {
    margin-left: 24px;
}

.main-nav li:last-child {
    margin-left: -14px;
    margin-right: 5px;
}

.main-slider{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-slide{
    text-align: center;
}

.main-slide h2 {
    color: #ffffff;
    font-family: Raleway-Medium;
    font-size: 36px;
}

.main-slide h1 {
    color: #ffffff;
    font-family: Raleway-ExtraBold;
    font-size: 52px;
    margin: 6px 0 0 0;
}
.main-slide-txt {
    max-width: 562px;
    color: #ffffff;
    font-family: Montserrat-Light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 0 0;
}

.main-arrow {
    margin-top: 102px;
    fill: #fff;
    opacity=".5"
}

.main-arrow:hover {
   fill: #d3c1ad;
}

.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    min-height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin: 52px auto 0 auto;
}
.main-btn:hover {
background-color: #998639;
}

.main-btn a {
    color: #ffffff;
    font-family: Raleway-ExtraBold;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
}



.main-pagination{
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-circle {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid transparent;
    opacity: 0.5;
    border-radius: 50%;
    margin: 329px 10px 0 0;
    box-sizing: border-box;
}

.main-circle:hover{
 border: 2px solid #d3c1ad;
 background-color: transparent;
}

